body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    background-color: lightblue;
    text-align: center;
}
header {
    background-color: darkmagenta;
    color: white;
    padding: 20px;
    font-size: 24px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px;
}

.menu-item {
    width: 250px;
    background-color: white;
    padding: 20px;
    border: 3px solid darkmagenta;
    margin:20px;
    box-shadow:3px 3px 10px black;
    border-radius: 10px;
}

.menu-item p{
    margin:0;
    color:darkmagenta;
}

.menu-item p{
    font-size:14px;
    color:black;
}

footer{
    background-color: darkmagenta;
    color:white;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;
}